<div class="topbar">
	<div class="grid990">
		<ul class="fn-right">
			<li><a href="#" class="weibo">微博</a></li>
			<li><a href="#" class="weixin">微信</a></li>
		</ul>
	</div>
</div>
<div class="header">
	<div class="grid990">
		<style>

		.header .stype{ cursor: pointer; position: relative; border-right: 3px solid #f60;  font-weight: bold; padding-right: 30px; color:#666; font-size: 14px; line-height:22px;  }
		.header .stype .stype_icon{background:url(http://www.waleme.com/images/typesel.png) 5px -3px no-repeat;padding-left:30px; display: block;}
		.header .stype .stype_1{background-position: 5px -3px;}
		.header .stype .stype_2{background-position: 5px -40px;}
		.header .stype .stype_3{background-position: 5px -77px;}
		.header .stype .stype_sel{ display: none; border:3px solid #f60; left: -6px; border-top:none; padding: 3px;position: absolute;top: 22px;width: 88px;  padding-right: 2px; background:#fff; border-radius: 0 0 2px 2px; }
		.header .stype .stype_sel li{ padding: 3px 0; border-top:1px dashed #ccc; font-size: 12px; font-weight: normal;}
		.header .stype .stype_sel li.curr,.header .stype .stype_sel li:hover{ color: #f60;  }
		.header .stype .stype_sel li span{ display: block; line-height: 22px; padding-left: 30px;}
		.header .stype i{background:url(http://www.waleme.com/images/typesel.png) 0px -120px no-repeat; position: absolute; right: 5px; top:7px; width: 15px; height: 8px; display: block;}
		</style>

		<h2 class="logo fn-left"><a href="#"></a></h2>
		<div class="searchbox fn-left">
			
			<div class="searchform fn-clear">
				<div class="stype fn-left">
					<span data-v="1" class="stype_icon stype_1 J_searchType">资讯</span><i></i>
					<ul class="stype_sel fn-clear">
						<li class="curr" data-v="1" ><span  class="stype_icon stype_1">资 讯</span></li>
						<li data-v="2"><span  class="stype_icon stype_2">应 用</span></li>
						<li data-v="3"><span  class="stype_icon stype_3">壁 纸</span></li>
					</ul>
				</div>
				
				<input type="text" placeholder="请输入搜索关键词" class="sval fn-left J_sval" /><a href="#" target="_blank" class="sbtn fn-left J_searchBtn"></a>
				
			</div>
			
			<dl class="hotsearch fn-left">
				<dt>近期热搜：</dt>
				<dd><a href="http://www.waleme.com/search/news/苹果" target="_blank" >苹果</a></dd>
				<dd><a href="http://www.waleme.com/search/news/小米" target="_blank">小米</a></dd>
				<dd><a href="http://www.waleme.com/search/news/微信" target="_blank" class="strong">微信</a></dd>
			</dl>
		</div>
	</div>
</div>
