<div class="nav">
	<ul class="main-ul grid990">
		<li <% if(nav == 1){%> class="cur" <%}%> ><a href="/">首 页</a></li>
		<li <% if(nav == 2){%> class="cur" <%}%> ><a href="/news/">资 讯</a></li>
		<li <% if(nav == 3){%> class="cur" <%}%> ><a href="/app/ioslist/">应 用</a></li>
		<li <% if(nav == 4){%> class="cur" <%}%> ><a href="#">壁 纸</a></li>
		<li <% if(nav == 5){%> class="cur" <%}%> ><a href="#">周 边</a></li>
	</ul>
</div>
<div class="snav">
	<div class=" grid990">
		<dl>
			<dt><a href="#">资 讯</a></dt>
			<dd><a href="#">业界</a></dd>
			<dd><a href="#">攻略</a></dd>
			<dd><a href="#">学堂</a></dd>
			<dd><a href="#">攻略</a></dd>
		</dl>
		<dl>
			<dt>应 用</dt>
			<dd>iOS</dd>
			<dd>Android</dd>
			<dd>游戏</dd>
			<dd>工具</dd>
		</dl>
		<dl>
			<dt>壁 纸</dt>
			<dd>美女</dd>
			<dd>酷车</dd>
			<dd>风景</dd>
			<dd>潮流</dd>
		</dl>
		<dl>
			<dt>周 边</dt>
			<dd>手机</dd>
			<dd>平板</dd>
			<dd>单反</dd>
			<dd>配件</dd>
		</dl>
	</div>
</div>